body{
    background-color: rgba(247, 96, 252, 0.357);
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
img{
    background-color: rgb(54, 22, 233);
    width: 200px;
    height: 200px;
    border-radius: 60%;
}

ul li a{
    color: rgb(52, 7, 255);
}
    a{
        text-decoration:none;
    }
ul{
    list-style-type: square;
}
   h1{
       color: rgb(4, 69, 248);
   } 
